@charset "UTF-8";
@media screen and (min-width: 801px){
	html {
	  font-size: 62.5%;
	}
	.site-title-sub::before,
	.site-title-sub::after {
      content: '';
	  display: inline-block;
	  width: 140px;
	  height: 2px;
	  margin:0 30px;
	  background-color: #fff;
	  vertical-align: middle;
	}
	.site-title-sub {
	  letter-spacing: 1px;
	  font-size: 2.2rem;
	}
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
}
@media screen and (max-width: 800px) and (min-width: 501px){ /*平板電腦*/
	html {
	  font-size: 60%;
	}
	.site-title-sub::before,
	.site-title-sub::after {
      content: '';
	  display: inline-block;
	  width: 140px;
	  height: 2px;
	  margin:0 30px;
	  background-color: #fff;
	  vertical-align: middle;
	}
	.site-title-sub {
	  letter-spacing: 1px;
	  font-size: 2.2rem;
	}
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	img {
	  width: 100%;	
	}
}
@media screen and (max-width: 500px) { /*手機*/
	html {
	  font-size: 55%;
	}
	.site-title-sub::before,
	.site-title-sub::after {
      content: '';
	  display: inline-block;
	  width: 20px;
	  height: 2px;
	  margin:0 30px;
	  background-color: #fff;
	  vertical-align: middle;
	}
	.site-title-sub {
	  letter-spacing: 1px;
	  font-size: 20px;
	}
	img {
	  width: 100%;	
	}
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
}

body {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Microsoft JhengHei", sans-serif;
}
*,*::before, *::after {
  box-sizing: border-box;
}
.header {
  padding: 170px 30px 80px;
}
.site-title {
  margin: 50px 0 40px;
  font-size: 5.5rem;
}
.site-description {
  margin-bottom: 50px;
  color: #dcdcdc;
  font-size: 1.6rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #446461;
}
.item{
  width: 180px;
  margin-bottom: 0px;
  margin-top: 2px;
  padding: 8px;
  border-bottom: 3px solid;
  border-radius: 5px;
  background: #fff;
  float: left;
}
.item-l {
  width: 870px;
  float: left;
  margin-left: 1px;
}
.item-ll {
  width: 95%;
  float: left;
}
#second {
  background: #52796f;
  width: 100%;
}

